*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
.border{
    border: 1px solid #000;
}
nav{
    width: 100vw;
    height: 80px;
    background-color: rgb(230, 156, 44);
    position: sticky;
    top: 0;
    z-index: 1;
}
.logo{
    float: left;
    margin: 15px 15px;
}
nav ul{
    text-align: center;
    float: right;
    list-style-type: none;
}
nav ul a{
    text-transform: capitalize;
    text-decoration: none;
    font-size: 20px;
    padding: 30px;
    color: ghostwhite;
}
nav ul a:hover{
    background-color: ghostwhite;
    color: #000;
}
nav ul a li{
    display: inline-block;
    margin: 25px 25px;
}
nav div img:hover{
    height: 48px;
    width: 48px;
}
footer{
    width: 100vw;
    height: 120px;
    clear: both;
    background-color: rgb(230, 156, 44);
    text-align: center;
}