*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
.background{
    height: 100vw;
    width: 100vw;
}
.border{
    border: 1px solid #000;
}
nav{
    width: 100%;
    height: 80px;
    background: #F7971E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    position: sticky;
    top: 0;
    z-index: 1;
}
.logo{
    float: left;
    margin: 15px 15px;
}
nav ul{
    text-align: center;
    float: right;
    list-style-type: none;
}
nav ul a{
    text-transform: capitalize;
    text-decoration: none;
    font-size: 20px;
    padding: 30px;
    color: ghostwhite;
}
nav ul a:hover{
    background-color: ghostwhite;
    color: #000;
}
nav ul a li{
    display: inline-block;
    margin: 25px 25px;
}
nav div img:hover{
    height: 48px;
    width: 48px;
}
section{
    width: 100%;
    height: 100%;
    background-image: url(/css/Img\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.form{
    width: 640px;
    height: 1200px;
    margin: auto;
}
footer{
    width: 100%;
    height: 120px;
    clear: both;
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
}