/* *{
    box-sizing: border-box;
}
.column{
    width: 30%;
    height: 200px;
    border: 3px solid #000;
    float: left;
    font-family: 'Playfair Display', serif;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
section{
    height: 400px;
    width: 100%;
    background-color: indianred;
}
p{
    line-height: 1.6;
} */
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
.border{
    border: 1px solid #000;
}
/* header{
    width: 100vw;
    height: 150px;
} */
nav{
    width: 100vw;
    height: 80px;
    background-color: rgb(230, 156, 44);
    position: sticky;
    top: 0;
    z-index: 1;
}
.logo{
    float: left;
    margin: 15px 15px;
}
nav ul{
    text-align: center;
    float: right;
    list-style-type: none;
}
nav ul a{
    text-transform: capitalize;
    text-decoration: none;
    font-size: 20px;
    padding: 30px;
    color: ghostwhite;
}
nav ul a:hover{
    background-color: ghostwhite;
    color: #000;
}
nav ul a li{
    display: inline-block;
    margin: 25px 25px;
}
nav div img:hover{
    height: 48px;
    width: 48px;
}
main{
    width: 100%;
    height: 600px;
    background-color: dimgrey;
    background-image: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
    url(/Image/400w-I-LWAtAIYH4.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    text-align: center;
}
.heroText{
    color: rgb(216, 206, 206);
    height: 400px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 50%);
}
.heroText h2{
    font-size: 80px;
}
.heroText p{
    font-size: 22px;
    line-height: 60px;
}
.heroText button{
    padding: 5px 30px;
    border-radius: 30px;
    background-color: #000;
    color: ghostwhite;
    border-color: ghostwhite;
}
.heroText button:hover{
background-color: ghostwhite;
color: #000;
border-color: #000;
}
aside{
    width: 35%;
    height: 1200px;
    float: right;
    background-color: rgb(253, 205, 48);
    
}
section, article{
    width: 65%;
    height: 600px;
    float: left;
    background-color: rgb(253, 205, 48);
}
footer{
    width: 100vw;
    height: 150px;
    clear: both;
    background-color: rgb(230, 156, 44);
}